@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Corinthia:wght@700&family=David+Libre:wght@500&family=Merriweather:ital@0;1&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap');

.logo {
    width: 50px;
    height: 70px;
    
}

.logo-txt {
    position: absolute;
    font-family: 'ZCOOL KuaiLe', cursive;
    top: 66px;
    left: 50px;
}

/* li {
    list-style-type: none;
} */


.my-navbg-color {
    background-color: #F6E6E6 ;
}

.my-nav2 {
    display: none;
    background-color: #E6B8B8

}

#navigation  {
    
    margin: 0 auto;
}

#products:hover + .my-nav2 {
 
        display: block;
  
}


